<section class="section" data-section-id="{{ section.id }}" data-section-type="liquid">
  <div class="{% if section.settings.include_margins %}container{% endif %}">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>
      </header>
    {%- endif -%}

    <div class="liquid">
      {{ section.settings.liquid }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    },
    {
      "type": "checkbox",
      "id": "include_margins",
      "label": "Include margins",
      "default": true
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid",
      "default": "<p>Write or copy/paste Liquid code</p>"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}